body {
  background-color: black;
  font-family: "Consolas", monospace, sans-serif;
  color: rgba(0, 255, 0, 1);
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.page {
  overflow: hidden;
}
.page h1 {
  text-align: left;
}

#output {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#output .user {
  color: rgba(0, 255, 0, 1);
  font-weight: bold;
}

#form {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
}

#form input {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  color: #0f0;
  padding: 1rem 0.5rem;
  font-size: inherit;
  font-family: "Consolas", monospace;
  position: relative;
}

#button {
  width: 200px;
  height: 50px;
  border: navajowhite;
  border-radius: 10px;
  font-size: 20px;
  background: #fff;
  color: #0f0;
}

#form::before {
  content: "> ";
}

@media (min-width: 420px) {
  #form {
    font-size: 32px;
  }
}
